<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egrand.cloud.ram.server.mapper.ModelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.egrand.cloud.ram.client.model.entity.Model">
        <id column="id" property="id" />
        <result column="comments" property="comments" />
        <result column="create_date" property="createDate" />
        <result column="icon" property="icon" />
        <result column="inner_flag" property="innerFlag" />
        <result column="model_code" property="modelCode" />
        <result column="model_name" property="modelName" />
        <result column="order_no" property="orderNo" />
        <result column="status" property="status" />
        <result column="update_date" property="updateDate" />
        <result column="url_path" property="urlPath" />
        <result column="parent_id" property="parentId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, comments, create_date, icon, inner_flag, model_code, model_name, order_no, status, update_date, url_path, parent_id
    </sql>

    <!--自定义关联查询-->
    <!-- 表名 -->
    <sql id="t_name">egd_sec_model</sql>
    <!-- 别名 -->
    <sql id="t_alias">egd_sec_model as model</sql>
    <!--外键表关联定义 -->
    <sql id="join"></sql>

    <!-- 自定义查询单个实体 -->
    <select id="getEntityMap" resultType="com.egrand.core.mybatis.EntityMap">
        SELECT * FROM
        <include refid="t_alias"/>
        <include refid="join"/>
        ${ew.customSqlSegment}
    </select>

    <!-- 自定义关联查询分页 -->
    <select id="pageList" resultType="com.egrand.core.mybatis.EntityMap">
        select ${ew.select} FROM
        <include refid="t_alias"/>
        <include refid="join"/>
        ${ew.customSqlSegment}
    </select>
</mapper>
